<div class="container mt-3">
  <div class="row">
    <table class="table table-dark table-hoover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Brand</th>
          <th scope="col">Price</th>
          <th scope="col">Count In Stock</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tempProduct of products">
          <td>
            {{ tempProduct._id}}
          </td>
          <td>
            {{ tempProduct.name}}
          </td>
          <td>
            {{ tempProduct.brand}}
          </td>

          <td>
            {{ tempProduct.price}}
          </td>
          <td>
            {{ tempProduct.countInStock}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
